<h1>My tasks</h1>
<form>
	<% @tasks.each do |task| %>
	  <% if task.completed %>
	    <input type="checkbox" checked ><%= link_to task.title, task_path(task) %><h6 id="bin_icon"><%= link_to "delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></h6><br>
	    <% else %>
	    <input type="checkbox"><%= link_to task.title, task_path(task) %><h6 id="bin_icon"><%= link_to "delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></h6><br>
	  <% end %>
	<% end %>

<%= link_to 'Add a new task', tasks_new_path, method: :get %>
</form>




 