<h1><%=  @task.title %></h1>
<p> <%= @task.details %></p>
  <%= button_to 'Edit this task', tasks_edit_path(@task), {method: :get} %>
<form>
	  <% if @task.completed %>
	    <input type="checkbox" checked><%= @task.title %> this task is complete <br>
	    <% else %>
	    <input type="checkbox"><%= @task.title %> this task is not complete <br>
	  <% end %>
</form>
<%= link_to 'Back to list of tasks', tasks_path, method: :get %>


